.content {
    grid-column: 1 / -1;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr repeat(8, minmax(1rem, 11rem)) 1fr;
    align-items: center;
    min-height: 40rem;

    &__text {
        grid-column: 2 / 6;

        @media only screen and (max-width: 89rem) {
            grid-column: 1 / -1;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }


        h1 {
            font-weight: bold;
            font-size: 4.8rem;
            letter-spacing: 1px;
            line-height: 5rem;
        }

        p {
            color: $color-primary-cyan;
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    &__img {
        grid-column: 6 / 10;

        img {
            width: 55em;
            transform: translateX(6rem);
        }

        @media only screen and (max-width: 89rem) {
            grid-column: 1 / -1;

            display: grid;
            justify-self: center;
            transform: translateX(-20%);


            img {
                width: 35rem;
            }

        }


    }
}

.stadistics {
    grid-column: 1 / -1;
    background-color: #f0f1f6;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr repeat(8, minmax(1rem, 11rem)) 1fr;

    @media only screen and (max-width: 89rem) {
        padding: 0 2rem;
        min-height: min-content;
    }

    &__text {
        grid-column: 2 / 10;
        text-align: center;
        margin-top: 10rem;

        h2 {
            font-size: 1.8rem;
            font-weight: bold;
        }

        p {
            color: $color-neutral-violet;
        }
    }

    &__details {
        grid-column: 2 / 10;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 2rem;

        @media only screen and (max-width: 89rem) { 
            height: min-content;
        }


    }

    &__detail {
        background-color: white;
        padding: 2rem;
        border-radius: 10px;

        @media only screen and (max-width: 89rem) { 
            height: min-content;
        }

        h3 {
            margin-top: 1.5rem;
        }

        &-2 {
            transform: translateY(2rem);
        }

        &-3 {
            transform: translateY(4rem);
        }
    }

    &__logo {
        background-color: $color-neutral-dark-violet;
        fill: #3d3356;
        padding: 1rem;
        border-radius: 50px;
        position: absolute;
        transform: translateY(-100%);


        @media only screen and (max-width: 55rem) {
            height: 4rem;
       
        }
    }


}

.link {
    grid-column: 1 / -1;
    background-color: #3a3053;
    text-align: center;
    background-image: url(/images/bg-boost-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;

    h3 {
        color: white;
        font-size: 2.8rem;
        margin: 4rem 0 2rem 0rem;
    }

    a {
        display: inline-block;
        margin-bottom: 4rem;
    }


}

.footer {
    grid-column: 1 / -1;
    background-color: $color-neutral-dark-violet;
    padding: 5rem 0;

    display: grid;
    grid-template-columns: 1fr repeat(8, minmax(1rem, 11rem)) 1fr;

    @media only screen and (max-width: 89rem) {
        padding: 5rem 2rem;
    }


    &__content {
        grid-column: 2 / 10;
        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width: 89rem) {
            justify-content: center;
        }
      

        img {
            height: 4rem;
            margin-right: auto;
            fill: white;

            @media only screen and (max-width: 89rem) {
                text-align: center;
                margin: 0;
                margin-bottom: 3rem;
            }
    
        }

        ;
    }

    &__list {
        margin-right: 3rem;

          
        @media only screen and (max-width: 89rem) {
            width: 15rem;
            text-align: center;
            margin: 0;
        }

        p {
            color: white;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        li {
            list-style: none;
            color: white;
            font-weight: 200;
            margin-bottom: 0.5rem;
        }
    }

    &__logos {

        margin-left: 4rem;

        img {
            height: 2rem;
            margin-left: 1.2rem;
        }

        @media only screen and (max-width: 89rem) {
            text-align: center;
            margin: 0;
            margin-top: 5rem;
        }
    }

}

.shorten {
    grid-column: 2 / 10;
    background-image: url(/images/bg-shorten-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3a3053;
    transform: translateY(60px);

    padding: 2rem;
    border-radius: 10px;
    text-align: center;

    &__search {
        padding: 1.5rem;
        width: 80%;
        border-radius: 10px;
        border: none;

        &::placeholder {
            font-weight: bold;
            font-size: 1.4rem;
            opacity: 0.3;
        }
    }

    &__btn {
        border: none;
        padding: 1.5rem;
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;
    }

    @media only screen and (max-width: 89rem) {
        margin: 0 2rem;

        transform: translateY(120px);

        &__search {
            width: 100%;
            margin-bottom: 1rem;
        }

        &__btn {
            width: 100%;
            font-size: 1.2rem;
        }

    }
}